<div class="menu-container">
  <img class="menu-logo" src="https://i.ibb.co/Ksh0J2w/alcaldia-Medellin.png" alt="Logo Alcaldía de Medellín">
  <img class="menu-logon" src="https://www.fiware.org/custom/brand-guide/img/logo/fiware/primary/png/logo-fiware-blue.png" alt="Logo FIWARE">

  <ul class="menu-list">
    <li *ngFor="let opcion of menuOpciones">
      <a (click)="toggleSubMenu(opcion)" class="menu-item">
        <mat-icon>{{ opcion.icono }}</mat-icon>
        <span>{{ opcion.texto }}</span>
        <mat-icon *ngIf="opcion.subOpciones">{{ opcion.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>

      <ul *ngIf="opcion.expanded" class="submenu">
        <li *ngFor="let subOpcion of opcion.subOpciones">
          <a (click)="subOpcion.subOpciones ? toggleSubMenu(subOpcion) : navegar(subOpcion.ruta)" class="menu-item">
            <mat-icon>{{ subOpcion.icono }}</mat-icon>
            <span>{{ subOpcion.texto }}</span>
            <mat-icon *ngIf="subOpcion.subOpciones">{{ subOpcion.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
          </a>

          <ul *ngIf="subOpcion.expanded" class="sub-submenu">
            <li *ngFor="let subSubOpcion of subOpcion.subOpciones">
              <a (click)="navegar(subSubOpcion.ruta)" class="menu-item">
                <mat-icon>{{ subSubOpcion.icono }}</mat-icon>
                <span>{{ subSubOpcion.texto }}</span>
              </a>
            </li>
          </ul>

        </li>
      </ul>
    </li>
  </ul>
</div>
