<div class="menu-container">
  <img class="menu-logo" src="https://i.ibb.co/Ksh0J2w/alcaldia-Medellin.png" alt="Logo Alcaldía de Medellín">
  <img class="menu-logon" src="https://www.fiware.org/custom/brand-guide/img/logo/fiware/primary/png/logo-fiware-blue.png?" alt="Logo FIWARE">

  <ul class="menu-list">
    <ng-container *ngFor="let opcion of menu">
      <li>
        <a (click)="opcion.hijos ? toggle(opcion) : navegar(opcion.ruta)" class="menu-item submenu-toggle">
          <mat-icon>{{ opcion.icono }}</mat-icon>
          <span>{{ opcion.texto }}</span>
          <mat-icon *ngIf="opcion.hijos">{{ isAbierto(opcion) ? 'expand_less' : 'expand_more' }}</mat-icon>
        </a>

        <!-- Submenú -->
        <ul *ngIf="opcion.hijos && isAbierto(opcion)" class="submenu">
          <ng-container *ngFor="let sub of opcion.hijos">
            <li>
              <a (click)="sub.hijos ? toggle(sub) : navegar(sub.ruta)" class="menu-item submenu-toggle">
                <mat-icon>{{ sub.icono }}</mat-icon>
                <span>{{ sub.texto }}</span>
                <mat-icon *ngIf="sub.hijos">{{ isAbierto(sub) ? 'expand_less' : 'expand_more' }}</mat-icon>
              </a>

              <!-- SubSubMenú -->
              <ul *ngIf="sub.hijos && isAbierto(sub)" class="submenu">
                <li *ngFor="let subsub of sub.hijos">
                  <a (click)="navegar(subsub.ruta)" class="menu-item">
                    <mat-icon>{{ subsub.icono }}</mat-icon>
                    <span>{{ subsub.texto }}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
