<h2 class="page-title">Ciudad Inteligente - SIATA</h2>
<div class="iframe-container">
  <div class="iframe-row">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/si_ma/siata-map?orgId=1&var-city=--Seleccionar--&from=1739790813208&to=1740395613208&viewPanel=3&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/si_ma/siata-map?orgId=1&var-city=--Seleccionar--&from=1739790813208&to=1740395613208&viewPanel=4&kiosk"
      allowfullscreen>
    </iframe>
    
  </div>
</div>

<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/si_ma/siata-map?orgId=1&var-city=--Seleccionar--&var-city=--Seleccionar--&from=1739790813208&from=1739790813208&to=1740395613208&to=1740395613208&viewPanel=1http:%2F%2Fgrafana-fiware.apps.preprodalcaldia.medellin.gov.co%2Fterritoriointeligente%2Fd%2Fsi_ma%2Fsiata-map%3ForgId%3D1&viewPanel=1&kiosk"
    allowfullscreen>
  </iframe>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/si_ma/siata-map?orgId=1&var-city=--Seleccionar--&from=1739790813208&to=1740395613208&viewPanel=6&kiosk"
    allowfullscreen>
  </iframe>
</div>
<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 10px;
    gap: 20px;
  }

  .iframe-row {
    display: flex;
    gap: 20px;
  }

  .iframe-row iframe {
    flex: 1;
    height: 250px; /* Reducción de altura para los tres primeros gráficos */
    border: none;
  }

  .iframe-container iframe:not(.iframe-row iframe) {
    height: 500px; /* Aumento de altura para los demás gráficos */
    border: none;
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-bottom: 20px;
  }
</style>
