<h2 class="page-title">Puntos Wi-Fi</h2>
<div class="iframe-container">
    <div class="iframe-row">
      <iframe
        src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw_ta/puntoswifi?orgId=1&from=1732686476511&to=1735278476511&viewPanel=3&kiosk"
        allowfullscreen>
      </iframe>
     
    </div>
    <div class="iframe-row">
        <iframe
          src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw_ta/puntoswifi?orgId=1&from=1732687115885&to=1735279115885&viewPanel=4&kiosk"
          allowfullscreen>
        </iframe>
       
      </div>
      <div class="iframe-row">
        <iframe
          src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw_ta/puntoswifi?orgId=1&from=1732711995953&to=1735303995953&viewPanel=33&kiosk"
          allowfullscreen>
        </iframe>
       
      </div>
      <div class="iframe-row">
        <iframe
          src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw_ta/puntoswifi?orgId=1&from=1732712398666&to=1735304398666&viewPanel=34&kiosk"
          allowfullscreen>
        </iframe>
       
      </div>
      <div class="iframe-row">
        <iframe
          src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw_ta/puntoswifi?orgId=1&from=1732712155294&to=1735304155295&viewPanel=6&kiosk"
          allowfullscreen>
        </iframe>
       
      </div>
      <div class="iframe-row">
        <iframe
          src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw_ta/puntoswifi?orgId=1&from=1732712771842&to=1735304771842&viewPanel=8&kiosk"
          allowfullscreen>
        </iframe>
       
      </div>
      <div class="iframe-row">
        <iframe
          src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw_ta/puntoswifi?orgId=1&from=1732712873380&to=1735304873380&viewPanel=20&kiosk"
          allowfullscreen>
        </iframe>
       
      </div>
      
  </div>
 
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333; /* Color oscuro para el título */
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff; /* Fondo blanco para el título */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-left: 300px; /* Para alinearlo con el contenido del iframe */
    margin-bottom: 20px; /* Espacio debajo del título */
  }
    .iframe-container {
      display: flex;
      flex-direction: column;
      margin-left: 300px; /* Ajusta este valor según el ancho del menú */
      padding: 10px;
      gap: 20px;
    }
  
    .iframe-row {
      display: flex;
      gap: 20px;
    }
  
    iframe {
      flex: 1;
      height: 400px;
      border: none;
    }
  </style>
  