<h2 class="page-title">Inicio</h2>
<div class="iframe-container">
  <div class="iframe-row">
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/inicio/home?orgId=1&from=1733868035919&to=1734472835919&viewPanel=73&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/inicio/home?orgId=1&from=1733890467754&to=1734495267754&viewPanel=74&kiosk"
      allowfullscreen>
    </iframe>
  </div>
  <div class="iframe-row">
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/inicio/home?orgId=1&from=1733891497815&to=1734496297815&viewPanel=75&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/inicio/home?orgId=1&from=1733891690672&to=1734496490672&viewPanel=76&kiosk"
      allowfullscreen>
    </iframe>
  </div>
  <div class="iframe-row">
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/inicio/home?orgId=1&from=1733891734324&to=1734496534324&viewPanel=79&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/inicio/home?orgId=1&from=1733892371283&to=1734497171283&viewPanel=80&kiosk"
      allowfullscreen>
    </iframe>
  </div>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Asegura que la fuente sea legible */
    background-color: #f4f4f4; /* Fondo más suave */
  }

  /* Estilos para el título */
  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333; /* Color oscuro para el título */
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff; /* Fondo blanco para el título */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-left: 300px; /* Para alinearlo con el contenido del iframe */
    margin-bottom: 20px; /* Espacio debajo del título */
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px; /* Ajuste para que los iframes estén alineados correctamente */
    padding: 10px;
    gap: 20px;
  }

  .iframe-row {
    display: flex;
    gap: 20px;
  }

  iframe {
    flex: 1;
    height: 300px; /* Ajusté la altura a 300px para que sea más pequeño */
    border: none;
    border-radius: 8px; /* Bordes redondeados en los iframes */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave en los iframes */
  }

  iframe:hover {
    transform: scale(1.02); /* Efecto de escala al pasar el mouse */
  }
</style>
