<h2 class="page-title">Movilidad Inteligente</h2>
<div class="iframe-container">
  <div class="iframe-row">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/d84d5e56-4773-4d60-9d99-aa2ebe692986/trafic?orgId=1&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/f406dae7-9988-495d-b27e-1965012c73a0/dist-vehicle?orgId=1&from=1743175585803&to=1743178496624&kiosk"
      allowfullscreen>
    </iframe>

  </div>
  <div class="iframe-column">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/ffbc3302-2461-470c-825d-f8902acbc045/vehicle-types?orgId=1&kiosk"
      allowfullscreen>
    </iframe>
  
  </div>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 10px;
    gap: 20px;
  }

  .iframe-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .iframe-row iframe {
    flex: 1;
    height: 500px; /* Tamaño más pequeño para los tres primeros */
    border: none;
  }

  .iframe-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .iframe-column iframe {
    height: 500px; /* Más altura para los siguientes gráficos */
    border: none;
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-bottom: 20px;
  }
</style>
