<h2 class="page-title">Movilidad Inteligente</h2>
<div class="iframe-container">
  <div class="iframe-column">
    <iframe
      src="http://nepqas.medellin.gov.co/territoriointeligente/d/movilidad-volumen-carri/movilidad-inteligente-volumen-de-trafico-por-carriles?orgId=1&var-carril=All&var-dia_semana=All&from=1734757199500&to=1738558797500&kiosk"
      allowfullscreen>
    </iframe>

    <iframe
      src="http://nepqas.medellin.gov.co/territoriointeligente/d/movilidad-vel-graph4/grafica-velocidad-promedio4?orgId=1&kiosk"
      allowfullscreen>
    </iframe>

    <iframe
      src="http://nepqas.medellin.gov.co/territoriointeligente/d/c18a5148-09d5-4585-8b7d-ea4aaba9e130/mapa-de-trafico-medellin?orgId=1&kiosk"
      allowfullscreen>
    </iframe>
  </div>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto; /* Habilita scroll vertical si se excede el alto */
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-bottom: 20px;
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 10px;
    gap: 20px;
  }

  .iframe-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .iframe-column iframe {
    height: 500px;
    width: 100%;
    border: none;
    overflow: visible;
    pointer-events: auto !important;
    z-index: 10;
  }
</style>
