    <header class="header">
        <div class="header-container">
            <div class="logo">
                <img class="menu-logo"
                    src="https://www.fiware.org/custom/brand-guide/img/logo/fiware/primary/jpg/logo-fiware.jpg?"
                    alt="Logo Alcaldía de Medellín" style="background-color: rgb(250, 250, 250);" />
            </div>

            <div class="user-info">
                <div class="profile-dropdown">
                    <button class="profile-button">
                        <mat-icon class="profile-icon">account_circle</mat-icon>
                    </button>
                    <div class="dropdown-menu">
                        <a (click)="irAPerfil()">Perfil</a>
                        <a href="#" (click)="logout()">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </header>