<h2 class="page-title">Sensores de Ruido</h2>
<div class="iframe-container">
  <div class="iframe-row">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/ce9a9bd3-6b1e-48bc-8fab-cc6a042f6f5b/ambience-dashboard?orgId=1&kiosk"
      allowfullscreen>
    </iframe>
  </div>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-bottom: 20px;
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 10px;
  }

  .iframe-row {
    display: flex;
    justify-content: space-between;
  }

  .iframe-row iframe {
    flex: 1;
    height: 920px; /* Aumenté la altura */
    border: none;
  }
</style>
