<h2 class="page-title">Turismo</h2>
<div class="iframe-container">
  <div class="iframe-row">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/tu_ta/turismo?orgId=1&var-menu=--Seleccionar--&from=1708535530544&to=1740157930544&theme=light&viewPanel=17&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/tu_ta/turismo?orgId=1&var-menu=--Seleccionar--&from=1708535597310&to=1740157997310&theme=light&viewPanel=18&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/tu_ta/turismo?orgId=1&var-menu=--Seleccionar--&from=1708535622443&to=1740158022443&viewPanel=19&kiosk"
      allowfullscreen>
    </iframe>
  </div>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/tu_ta/turismo?orgId=1&var-menu=--Seleccionar--&from=1708536018076&to=1740158418076&viewPanel=22&kiosk"
    allowfullscreen>
  </iframe>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/tu_ta/turismo?orgId=1&var-menu=--Seleccionar--&from=1708536115554&to=1740158515554&viewPanel=5&kiosk"
    allowfullscreen>
  </iframe>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/tu_ta/turismo?orgId=1&var-menu=--Seleccionar--&from=1708536018076&to=1740158418076&viewPanel=22&kiosk"
    allowfullscreen>
  </iframe>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/tu_ta/turismo?orgId=1&var-menu=--Seleccionar--&from=1708536157330&to=1740158557330&viewPanel=13&kiosk"
    allowfullscreen>
  </iframe>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/tu_ta/turismo?orgId=1&var-menu=--Seleccionar--&from=1708536248147&to=1740158648147&viewPanel=14&kiosk"
    allowfullscreen>
  </iframe>
</div>
<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 10px;
    gap: 20px;
  }

  .iframe-row {
    display: flex;
    gap: 20px;
  }

  .iframe-row iframe {
    flex: 1;
    height: 250px; /* Reducción de altura para los tres primeros gráficos */
    border: none;
  }

  .iframe-container iframe:not(.iframe-row iframe) {
    height: 500px; /* Aumento de altura para los demás gráficos */
    border: none;
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-bottom: 20px;
  }
</style>
