<h2 class="page-title">Ciudad Inteligente - Puntos Wifi</h2>
<div class="iframe-container">
  <div class="iframe-row">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw-ma/puntoswifi-map?orgId=1&from=1737930820574&to=1740522820574&viewPanel=2&kiosk"
      class="small-iframe"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw-ma/puntoswifi-map?orgId=1&from=1737930915371&to=1740522915371&viewPanel=3&kiosk"
      class="small-iframe"
      allowfullscreen>
    </iframe>
  </div>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/pw-ma/puntoswifi-map?orgId=1&from=1737931227194&to=1740523227194&viewPanel=1&kiosk"
    class="large-iframe"
    allowfullscreen>
  </iframe>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-bottom: 20px;
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 10px;
    gap: 20px;
  }

  .iframe-row {
    display: flex;
    gap: 20px;
  }

  .small-iframe {
    flex: 1;
    height: 250px; /* Altura reducida para los dos primeros iframes */
    border: none;
  }

  .large-iframe {
    height: 700px; /* Mayor altura para el mapa */
    border: none;
  }
</style>
