<h2 class="page-title">Ciudad Inteligente - Camiones EMVARIAS</h2>
<div class="iframe-container">
  <div class="iframe-row">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/rm_ma/reportesmed-map?orgId=1&var-comunas=--Seleccionar--&from=1739674305894&to=1740279105894&viewPanel=3&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/rm_ma/reportesmed-map?orgId=1&var-comunas=--Seleccionar--&from=1739674463402&to=1740279263402&viewPanel=4&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/rm_ma/reportesmed-map?orgId=1&var-comunas=--Seleccionar--&from=1739674645460&to=1740279445460&viewPanel=9&kiosk"
      allowfullscreen>
    </iframe>
  </div>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/rm_ma/reportesmed-map?orgId=1&var-comunas=--Seleccionar--&from=1739674694900&to=1740279494900&viewPanel=1&kiosk"
    allowfullscreen>
  </iframe>
</div>
<div class="iframe-container">
  <iframe
    src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/rm_ma/reportesmed-map?orgId=1&var-comunas=--Seleccionar--&from=1739674790949&to=1740279590950&viewPanel=6&kiosk"
    allowfullscreen>
  </iframe>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    /* Color oscuro para el título */
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    /* Fondo blanco para el título */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    margin-left: 300px;
    /* Para alinearlo con el contenido del iframe */
    margin-bottom: 20px;
    /* Espacio debajo del título */
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    /* Ajusta este valor según el ancho del menú */
    padding: 10px;
    gap: 20px;
  }

  .iframe-row {
    display: flex;
    gap: 20px;
  }

  iframe {
    flex: 1;
    height: 400px;
    border: none;
  }
</style>