<h2 class="page-title">Vamos Medellín</h2>
<div class="iframe-container">
  <div class="iframe-row">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/be4206a5-5095-46c2-8ad6-459879f8b397/evolucion-temporal?orgId=1&var-time_interval=week&var-modo_transporte=%27EnBici%27&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/c4aa4e46-0aeb-4e56-b272-bd96329b9f92/impacto-ambiental?orgId=1&kiosk"
      allowfullscreen>
    </iframe>

  </div>
  <div class="iframe-column">
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/d57d13d8-5b6d-48e4-88fc-12d9d874e8dc/travels-kilometers?orgId=1&kiosk"
      allowfullscreen>
    </iframe>
    <iframe
      src="http://grafana-fiware.apps.preprodalcaldia.medellin.gov.co/territoriointeligente/d/ba00627d-90a1-485c-a088-16a037d56c33/calories?orgId=1&kiosk"
      allowfullscreen>
    </iframe>
    
  </div>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 10px;
    gap: 20px;
  }

  .iframe-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .iframe-row iframe {
    flex: 1;
    height: 500px; /* Tamaño más pequeño para los tres primeros */
    border: none;
  }

  .iframe-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .iframe-column iframe {
    height: 500px; /* Más altura para los siguientes gráficos */
    border: none;
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-bottom: 20px;
  }
</style>
