<h2 class="page-title">Reportes Médicos</h2>
<div class="iframe-container">
  <!-- Dos primeros iframes en fila con menos altura -->
  <div class="iframe-row small-iframes">
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/rm_ta/reportesmed?orgId=1&from=1734607826803&to=1735212626803&viewPanel=2&kiosk">
    </iframe>
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/rm_ta/reportesmed?orgId=1&from=1734613212216&to=1735218012216&viewPanel=3&kiosk">
    </iframe>
  </div>

  <!-- Siguientes iframes más anchos y centrados -->
  <div class="iframe-row large-iframe">
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/rm_ta/reportesmed?orgId=1&from=1734613644066&to=1735218444067&viewPanel=56&kiosk"
      allowfullscreen>
    </iframe>
  </div>
  
  <div class="iframe-row large-iframe">
    <iframe
      src="https://www.medellin.gov.co/territoriointeligente/d/rm_ta/reportesmed?orgId=1&from=1734613814858&to=1735218614858&viewPanel=57&kiosk"
      allowfullscreen>
    </iframe>
  </div>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .iframe-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    padding: 10px;
    gap: 20px;
  }

  .page-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
    margin-bottom: 20px;
  }

  .iframe-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .small-iframes iframe {
    flex: 1;
    height: 250px;
    max-width: 48%;
  }

  .large-iframe iframe {
    flex: 1;
    height: 500px;
    max-width: 80%;
  }

  @media (max-width: 1200px) {
    .small-iframes iframe, .large-iframe iframe {
      max-width: 100%;
    }
  }
</style>
